.footer {
  background-color: #293327;
  color: #fbfbfb;
}

.a-mail {
    color: #fbfbfb;
}

body {
  padding: 86px 0px 0px 0px;
  z-index: 0;
  background-color: #222222;
}

.navbar-dark {
  background-color: #293327;
}

.bg-dark {
  background-color: #171d22;
}

.row-content {
  margin: 0px auto;
  padding: 0px 0px 0px 0px;
  min-height: 600px;
}

.card img {
  background-color: transparent; 
}

.card img.img-thumbnail {
    border: none;
}

.fixed-height-image {
  height: 300px; /* Cambia esta altura según tus necesidades */
}
