<div class="container font-ben" style="margin-top: 8rem;">
    <div class="row">
      <div class="col-6 mt-3 mr-auto">
        <h2 class="text-success">Aliens favoritos</h2>
        <h6 class="text-white">Ver todos<a href="./aliens.html" class="btn" style="color:white;"><span class="fa fa-database fa-md"></span></a></h6>
      </div>
      <div class="col-4 col-sm-4 col-md-3 col-lg-2 mt-4 mb-4 ml-auto text-right">
        <h5 class="text-white">Estado actual<a href="./aliens.html" class="btn" style="color:lawngreen;"><span class="fa fa-circle fa-md"></span></a></h5>
        <select class="form-control bg-dark text-white">
          <option>Fuego</option>
          <option>Humano</option>
        </select>
      </div>
    </div>
    <div class="row justify-content-center row-content-2">
      <div class="col-10 col-md-6 col-lg-4 mt-auto mb-3">
        <div class="card bg-dark border-light text-center">
          <div class="card-body">
            <div class="media">
              <img class="d-flex mx-auto img-thumbnail align-self-center fixed-height-image" src="assets/img/heatblast.png" alt="four-arms" />
            </div>
            <h3 class="text-white mt-2"><a href="#" class="btn invisible" style="color:lawngreen;"><span class="fa fa-chevron-left fa-md"></span></a>Fuego<a href="#" class="btn invisible" style="color:lawngreen;"><span class="fa fa-chevron-right fa-md"></span></a></h3>
          </div>
        </div>
      </div>
      <div class="col-10 col-md-6 col-lg-4 mt-auto mt-lg-0 mb-lg-auto mb-3 d-none d-lg-block">
        <div class="card bg-dark border-light text-center">
          <div class="card-body">
            <div class="media">
              <img class="d-flex mx-auto img-thumbnail align-self-center fixed-height-image" src="assets/img/four-arms.png" alt="four-arms" />
            </div>
            <h3 class="text-white mt-2"><a href="#" class="btn" style="color:lawngreen;"><span class="fa fa-chevron-left fa-md"></span></a> Cuatro Brazos <a href="#" class="btn" style="color:lawngreen;"><span class="fa fa-chevron-right fa-md"></span></a></h3>
          </div>
        </div>
      </div>
      <div class="col-10 col-md-6 col-lg-4 mt-auto mt-lg-0 mb-lg-auto mb-3 d-block d-lg-none">
        <div class="card bg-dark border-light text-center">
          <div class="card-body">
            <div class="media">
              <img class="d-flex mx-auto img-thumbnail align-self-center fixed-height-image" src="assets/img/four-arms.png" alt="four-arms" />
            </div>
            <h3 class="text-white mt-2"><a href="#" class="btn invisible" style="color:lawngreen;"><span class="fa fa-chevron-left fa-md"></span></a> Cuatro Brazos <a href="#" class="btn invisible" style="color:lawngreen;"><span class="fa fa-chevron-right fa-md"></span></a></h3>
          </div>
        </div>
      </div>
      <div class="col-10 col-md-6 col-lg-4 mt-auto mb-3 d-none d-lg-block">
        <div class="card bg-dark border-light text-center">
          <div class="card-body">
            <div class="media">
              <img class="d-flex mx-auto img-thumbnail align-self-center fixed-height-image" src="assets/img/diamond-head.png" alt="four-arms" />
            </div>
            <h3 class="text-white mt-2"> Diamante </h3>
          </div>
        </div>
      </div>
    </div>
  </div>