<div class="container font-ben" style="margin-top: 8rem;">
    <div class="row row-content align-items-center">
      <div class="col-12 col-md-6">
        <div class="card bg-dark border-light">
          <h4 class="card-header border-light text-success text-center">Mi Cuenta</h4>
          <div class="card-body">
            <div class="row text-center">
              <div class="col-12 mb-3">
                <h4 class="text-white">David (Ciudadano Comun)<a href="#" class="btn" style="color:white;"><span class="fa fa-edit fa-lg"></span></a></h4>
              </div>
              <div class="col-12 col-lg-8 mb-2 mx-auto">
                <button class="btn btn-success btn-block">Cambiar contraseña</button>
              </div>
              <div class="col-12 col-lg-8 mx-auto">
                <button class="btn btn-danger btn-block">Eliminar cuenta</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <img src="assets/img/omnitrix.png" class="img-fluid" />
      </div>
    </div>
  </div>