<div class="container mt-5">
<div class="row row-content align-items-center">
    <div class="col-12 col-md-6 align-self-center order-last order-md-first">
    <img src="assets/img/ben10.png" class="img-fluid" />
    </div>
    <div class="col-12 col-md-6 mt-4">
    <div class="card bg-dark border-light font-ben">
        <h4 class="card-header border-light text-white text-center ">Inicio de Sesion</h4>
        <div class="card-body">
          <form>
              <div class="form-group row">
                <div class="col-12 mt-3">
                    <input type="email" class="form-control text-black" id="email_login" name="email_login" placeholder="Email"
                           required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"/>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12 mt-3 mb-4">
                    <input type="password" class="form-control text-black" id="contrasena_login" name="contrasena_login" placeholder="Contraseña"
                           required minlength="8"/>
                </div>
              </div>
              <div class="form-group row justify-content-center">
                <div class="col-auto">
                  <button type="submit" class="btn btn-success">Iniciar Sesion</button>
                </div>
              </div>
              <div class="form-group row justify-content-center">
                <div class="col-auto">
                    <a class="btn" href="#" style="color:white;">Recuperar Contraseña</a>
                </div>
              </div>
          </form>
        </div>
    </div>
    </div>
</div>
</div>

