<div class="container font-ben" style="margin-top: 8rem;">
    <div class="row">
      <div class="col-12 text-center mt-3">
        <h3 class="text-success">cuatro brazos</h3>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <img src="assets/img/four-arms.png" class="img-fluid" />
      </div>
      <div class="col-12 col-md-6">
        <div class="row ">
          <div class="col-4 text-center">
            <div class="card bg-success">
              <div class="card-body">
                <h4 class="text-white">Fortalezas</h4>
              </div>
            </div>
          </div>
          <div class="col-8">
            <p class="text-white">
              Cuatrobrazos es un personaje con una increíble fuerza que le permite levantar objetos pesados, romper materiales resistentes y usar objetos pesados como armas. También puede crear ondas de choque aplaudiendo o golpeando el suelo, saltar a alturas impresionantes y tiene una resistencia alta debido a su piel dura y espinosa, que lo hace casi inmune al fuego y láser.
            </p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-4 text-center">
            <div class="card bg-success">
              <div class="card-body">
                <h4 class="text-white">debilidades</h4>
              </div>
            </div>
          </div>
          <div class="col-8">
            <p class="text-white">
              El tamaño de Cuatrobrazos a veces es una desventaja; ya que lo relativamente más lento que otros oponentes, lo convierte un blanco fácil para los ataques enemigos  y hace que el uso de las cosas, o moverse a través de áreas diseñadas para especies más pequeñas sea muy difícil.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-4 text-center">
            <div class="card bg-success">
              <div class="card-body">
                <h4 class="text-white">estadisticas</h4>
              </div>
            </div>
          </div>
          <div class="col-8">
            <p class="text-white">
              Numero de transformaciones: 34<br />
              Tiempo estimado en la transformación: 8.5 Horas<br />
              Tiempo promedio de transformación:  15 minutos
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center mt-3">
        <h3 class="text-success">comentarios</h3>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-2 text-center mb-auto">
        <h6 class="text-white"><a href="#" class="btn" style="color:white;"><span class="fa fa-user fa-lg"></span></a><br />David Antonio</h6>
      </div>
      <div class="col-8">
        <form>
          <div class="form-group">
            <div class="col-12">
              <textarea class="form-control" id="feedback" name="feedback" rows="3" placeholder="OMG increible tranformacion y salvada del mundo, gracias ben" readonly></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="col-2">
        <h6><a href="#" class="btn" style="color:lawngreen;"><span class="fa fa-thumbs-up fa-lg"></span></a></h6>
        <h6><a href="#" class="btn" style="color:white;"><span class="fa fa-thumbs-down fa-lg"></span></a></h6>
      </div>
    </div>
    <div class="row justify-content-center mt-3 mb-3">
      <div class="col-2 text-center mb-auto">
        <h6 class="text-white"><a href="#" class="btn" style="color:white;"><span class="fa fa-user fa-lg"></span></a><br />Pablo Buitrago</h6>
      </div>
      <div class="col-8">
        <form>
          <div class="form-group">
            <div class="col-12">
              <textarea class="form-control" id="feedback" name="feedback" rows="3" placeholder="Se supone que es el mas fuerte y nunca es capaz de salvar el dia, pesima actuación" readonly></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="col-2">
        <h6><a href="#" class="btn" style="color:white;"><span class="fa fa-thumbs-up fa-lg"></span></a></h6>
        <h6><a href="#" class="btn" style="color:red;"><span class="fa fa-thumbs-down fa-lg"></span></a></h6>
      </div>
    </div>
  </div>