@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    color: #FFFFFF;
}
.card img {
    background-color: transparent;
}
.card img.img-thumbnail {
    border: none;
    height: 300px;
}
.footer {
    background-color: #293327;
    color: #fbfbfb;
  }
.font-ben{
    font-family: 'Bangers', cursive;
}
.navbar-dark {
    background-color: #293327;
}

h1 {
    font-family: 'Bangers', cursive;
    color: #64CC4F;
}

