/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    padding: 86px 0px 0px 0px;
    z-index: 0;
    background-color: #222222 !important;
  }
  
  .card img {
      background-color: transparent;
  }
  .card img.img-thumbnail {
      border: none;
      height: 300px;
  }
  .footer {
      background-color: #293327;
      color: #fbfbfb;
    }
  .font-ben{
      font-family: 'Bangers', cursive;
  }
  .navbar-dark {
      background-color: #293327;
  }
  
  h1 {
      font-family: 'Bangers', cursive;
      color: #64CC4F;
  }
  
  .a-mail {
    color: #fbfbfb;
  }
  
  .bg-dark {
    background-color: #171d22;
  }
  
  .row-content {
    margin: 0px auto;
    padding: 0px 0px 0px 0px;
    min-height: 600px;
  }
  
  .row-content-2 {
    margin: 0px auto;
    padding: 0px 0px 0px 0px;
    min-height: 450px;
  }
  
  .card img {
    background-color: transparent;
  }
  
  .card img.img-thumbnail {
      border: none;
  }
  
  .fixed-height-image {
    height: 300px;
  }
  
  .text-success {
    font-family: 'Bangers',cursive;
  }
  
  .text-white {
    font-family: 'Bangers',cursive;
  }
  
  .text-black {
    font-family: 'Bangers',cursive;
  }
  
  .text-danger {
    font-family: 'Bangers',cursive;
  }
  
  .btn-success {
    font-family: 'Bangers',cursive;
  }
  
  .btn {
    font-family: 'Bangers',cursive;
  }
  