<div class="container">
    <div class="row justify-content-center mt-4 mb-4">
      <div class="col-12 col-md-11 col-lg-9 col-xl-7">
        <div class="card bg-dark border-light">
          <div class="card-body">
            <h4 class="text-white text-center mb-3">Busqueda</h4>
            <form>
              <div class="form-group row">
                <div class="col-12 col-sm-8 col-md-6">
                  <input type="text" class="form-control text-black" id="nombreAlien" name="nombreAlien" placeholder="Ingresa el nombre del Alien" />
                </div>
                <div class="col-12 col-sm-4 col-md-2 mt-2 mt-sm-0">
                  <button type="submit" class="btn btn-success btn-block">Buscar</button>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12 col-md-9 col-lg-10">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="radiobutton" id="radiobutton1" />
                    <label class="form-check-label text-white" for="radiobutton1">Ordenar alfabeticamente</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="radiobutton" id="radiobutton2" />
                    <label class="form-check-label text-white" for="radiobutton2">Ordernar por tiempo de uso</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="radiobutton" id="radiobutton3" />
                    <label class="form-check-label text-white" for="radiobutton3">Ordenar por popularidad</label>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-4">
      <div class="col-12 text-center">
        <h3 class="text-success">Conoce a todos los Aliens</h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 col-md-6 col-lg-4 mt-2 mb-2">
        <a href="alien/cuatrobrazos">
          <div class="card bg-dark border-light text-center">
            <div class="card-body">
              <div class="media">
                <img class="d-flex mx-auto img-thumbnail align-self-center fixed-height-image" src="assets/img/four-arms.png" alt="four-arms" />
              </div>
              <h3 class="text-success">Cuatro Brazos</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-10 col-md-6 col-lg-4 mt-2 mb-2">
        <a href="#">
          <div class="card bg-dark border-light text-center">
            <div class="card-body">
              <div class="media">
                <img class="d-flex mx-auto img-thumbnail align-self-center fixed-height-image" src="assets/img/way-big.png" alt="way-big" />
              </div>
              <h3 class="text-success">Muy grande</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-10 col-md-6 col-lg-4 mt-2 mb-2">
        <a href="#">
          <div class="card bg-dark border-light text-center">
            <div class="card-body">
              <div class="media">
                <img class="d-flex mx-auto img-thumbnail align-self-center fixed-height-image" src="assets/img/cannonbolt.png" alt="cannonbolt" />
              </div>
              <h3 class="text-success">Cannonbolt</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-10 col-md-6 col-lg-4 mt-2 mb-2">
        <a href="#">
          <div class="card bg-dark border-light text-center ">
            <div class="card-body">
              <div class="media">
                <img class="d-flex mx-auto img-thumbnail align-self-center fixed-height-image" src="assets/img/grey-matter.png" alt="grey-matter" />
              </div>
              <h3 class="text-success">Materia Gris</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-10 col-md-6 col-lg-4 mt-2 mb-2">
        <a href="#">
          <div class="card bg-dark border-light text-center">
            <div class="card-body">
              <div class="media">
                <img class="d-flex mx-auto img-thumbnail align-self-center fixed-height-image" src="assets/img/eye-guy.png" alt="eye-guy" />
              </div>
              <h3 class="text-success">Multiojos</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-10 col-md-6 col-lg-4 mt-2 mb-2">
        <a href="#">
          <div class="card bg-dark border-light text-center">
            <div class="card-body">
              <div class="media">
                <img class="d-flex mx-auto img-thumbnail align-self-center fixed-height-image" src="assets/img/diamond-head.png" alt="diamond-head" />
              </div>
              <h3 class="text-success">Diamante</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-10 col-md-6 col-lg-4 mt-2 mb-2">
        <a href="#">
          <div class="card bg-dark border-light text-center">
            <div class="card-body">
              <div class="media">
                <img class="d-flex mx-auto img-thumbnail align-self-center fixed-height-image" src="assets/img/Bestia.png" alt="bestia" />
              </div>
              <h3 class="text-success">Bestia</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-10 col-md-6 col-lg-4 mt-2 mb-2">
        <a href="#">
          <div class="card bg-dark border-light text-center">
            <div class="card-body">
              <div class="media">
                <img class="d-flex mx-auto img-thumbnail align-self-center fixed-height-image" src="assets/img/heatblast.png" alt="heatblast" />
              </div>
              <h3 class="text-success">Fuego</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-10 col-md-6 col-lg-4 mt-2 mb-4">
        <a href="#">
          <div class="card bg-dark border-light text-center">
            <div class="card-body">
              <div class="media">
                <img class="d-flex mx-auto img-thumbnail align-self-center fixed-height-image" src="assets/img/Ditto.png" alt="ditto" />
              </div>
              <h3 class="text-success">Ditto</h3>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
